.train-secret-container {
  position: relative;
}
.train-secret-container li {
  position: absolute;
  font-size: 22px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  clip: rect(0, 100vw, auto, 100vw);
}

.train-secret-container span {
  color: red;
  font-weight:600;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.train-secret-container .end-page {
  height: 100px;
}

@keyframes typing {
  100% {
    clip: rect(0, 100vw, auto, 0);
  }
}
