.training-method-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../../assets/pictures/logo/background-lines.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.self-image-container {
  display: flex;
  flex-direction: row-reverse;
}
.self-image-png {
  display: flex;
  position: relative;
  background-image: url("../../../../assets/pictures/logo/result.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 750px;
  height: 500px;
  margin-top: -50px;
  left: -160px;
  z-index: 6;
}

.png-image-text {
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  font-size: 28px;
  color: white;
  width: 420px;
}

.method-stages-container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  padding: 10px;
}
.stages-title {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  color: white;
  font-size: larger;
}
h1 {
  color: white;
}

.method-stages {
  display: flex;
}

.stage-card-container {
  background-color: rgba(204, 0, 255, 0.663);
  margin: 0 20px;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  padding: 10px 4px;
}
.stage-card-circle-image img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.stage-card-title {
}
.stage-card-text {
}
