.customer-processes-container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.title-container {
  font-size: larger;
  width: 100%;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 5vw);
  grid-gap: 12px;
}
.images-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image-container:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
.image-container:nth-child(3) { /*1*/
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.image-container:nth-child(2) { /*2*/
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}
.image-container:nth-child(4) { /*3*/
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 6;
}
.image-container:nth-child(6) { /*4*/
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 6;
}
.image-container:nth-child(11) { /*6*/
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 9;
}
.image-container:nth-child(9) { /*7*/
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 9;
}
.image-container:nth-child(8) { /*8*/
  
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}
.image-container:nth-child(5) { /*9*/
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}
.image-container:nth-child(7) { /*10*/
  
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 13;
}
.image-container:nth-child(10) { /*11*/
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 13;
}
.image-container:nth-child(12) { /*12*/
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 9;
  grid-row-end: 13;
}

.image-container {
  opacity: 0;
}
.image-container :hover {
  transform: scale(1.03);
  z-index: 44px;
  transition: all 0.2s ease-in;
  border-radius: 10px;
}

@keyframes fade-in-up-bounce {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 1110px) {
  .images-container {
    padding:  0 3px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 12vw);
    grid-gap: 5px;
  }
}
