.contact-input-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px 0 20px 0;

}
.contact-input {
  width: 65%;
  border-radius: 20px;
  background-color: rgba(213, 94, 207, 0.277);
  padding: 20px 10px;
}
.contact-input input {
  height: 100%;
  width: 90%;
  align-self: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 17px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  padding: 10px 16px 10px 16px;
  margin: 5px 0;
  border-width: 1px;
  text-align: right;
}
.contact-input textarea {
  display: flex;
  height: 100%;
  width: 90%;
  align-self: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  padding: 10px 16px 30px 14px;
  margin: 5px 0;
  text-align: right;
}
.contact-input h1 {
  color: var(--black);
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  padding: 26px 0px 4px 26px;
}

.contact-input input:focus {
  background-color: rgb(228, 204, 233);
  color: #920186;
}
.contact-input textarea:focus {
  background-color: rgb(228, 204, 233);
  color: #920186;
}

.contact-input input[name="user_email"]:focus {
  text-align: left;
}

.contact-input .btn {
  margin-top: 10px;
  width: 80%;
}
@media screen and (max-width: 940px) {
  .contact-input {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .contact-input {
    width: 90%;
  }
}
