.studio-info-container p{
    width: 96%;

}

.studio-info-container li {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

    text-align: right;
}
