:root {
  --light-pink: rgba(225, 184, 215);
  --light-pink-button: rgb(218, 156, 205);
  --dark-pink-button: rgb(169, 33, 142);
  --dark-pink-border: rgb(64, 11, 54);
}

.end-page {
  height: 60px;
}

.App {
  text-align: center;
  background-color: var(--dark-pink-button);
  scroll-snap-type: mandatory;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  background-color: var(--dark-pink-button);
}

li {
  list-style-type: none;
}

button {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: rgba(169, 33, 142, 0.95);

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

button:active {
  background: var(--color);
  color: #fff;
}
